@{
    ViewData["Title"] = "Default Message";
    dynamic data = ViewBag.Data;
}

<h2>Default message</h2>

<p>Hello from our View Template!</p>
<p>You id is : @data.Id </p>
<p>You name is : @data.Name </p>

<p>You department is : @data.Discipline </p>
